*{margin: 0;padding: 0;}
.fl{float: left;}
.fr{float: right;}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #cc6666;
}
a:hover{
    text-decoration: underline;
}
/* ..........top css start.......... */
.top{
    height: 30px;
    border-bottom: 1px solid #e9e9e9;
}
.top .left{
    height: 30px;
    width: 460px;
    margin-left: 176px;  
    float: left;
}
.top .left li{
    width: 30px;
    height: 30px;
    list-style: none;  
    float: left;
}
.top .left .one{background-image: url(../images/index-sp1.png);background-position: 0 0;}
.top .left .two{
    width: 240px;
    height: 30px;
    font-size: 13px;
    color: #666666;
}
.top .left .two p{
    height: 30px;
    width: 450px;
    line-height: 30px;
}
.top .left .three{background-image: url(../images/index-sp1.png);background-position: 0 -28px;}
.top .left .four{background-image: url(../images/index-sp1.png);background-position: 0 -57px;}
.top .left .five{background-image: url(../images/index-sp1.png);background-position: 0 -85px;}
.top .left .six{background-image: url(../images/index-sp1.png);background-position: 0 -114px;}
.top .right{
    height: 30px;
    width: 340px;
    margin-right: 176px; 
    float: right; 
    line-height: 30px;
}
.top .right li{
    width: 30px;
    height: 30px;
    list-style: none;  
    float: left;
    padding-right: 50px;
}
.top .right p{
    height: 30px;
    width: 100px;
    line-height: 30px;   
    text-align: center; 
    font-size: 13px;
    color: #666666;
    border-right: 1px solid #e9e9e9;
    margin: auto;
}
.top .right .one{
    background-image: url(../images/index-sp1.png);
    background-repeat: no-repeat;
    background-position: -50px -2px;
}
/* .........top css end.......... */
/* ........header css start.......... */

.header{
    height: 100px;
    width: 1100px;
    /* border: 1px solid skyblue;   */
    margin: auto;
}
.header big{
    height: 100px;
    width: 1000px;
}
.header h1{
    width: 300px;
    height: 60px;
    background-image: url(../images/nav_logo.png);
    background-repeat: no-repeat;
    text-indent: -9999em;
    margin-top: 20px;
    margin-left: 50px;
}
.header li{
    list-style: none;
}
.header .fr{
    margin-right: 40px;
}
.header .sm{
    float: left;
    padding-right: 40px; 
}
.header .small a{
    color: #666;
}
.header .small a:hover{
    color: #cc3333;

}
/* ........header css end.......... */

/* .........main css start */
.main{
    height: 590px;
    background-color: #eeeeee;
    overflow: hidden;
}
.main .mainbody{
    background-color: #ffffff;
    margin: auto;
    margin-top: 35px;
    width: 1000px;
    height: 500px;
    box-shadow: 0 2px #999999;
    border-radius: 10px;
    padding-top: 15px;
    padding-left: 25px;
}
.main .mainbody p{
    width: 950px;
    font-size: 24px;
}
.main .mainbody .box{
    width: 950px;
    height: 385px;
    display: flex;
    margin-top: 25px;
}
.main .mainbody .reg{
    width: 340px;
    height: 180px;
    /* border: 1px solid skyblue; */
    margin-left: 25px;
    display: flex;
}
.main .mainbody ul{
   width: 70px;
   height: 60px;
   margin-top: 10px;
}
.main .mainbody li{
    float: right;
}
.main .mainbody .last{
    margin-top: 32px;
}
.main .mainbody .image{
    background-image: url(../images/login_banner.jpg);
    width: 585px;
    height: 360px;
}
.main .mainbody .box .reg p{font-size: 12px;width: 70px;text-align: right;}
.main .mainbody .reg .input{
    height: 180px;
    width: 270px;
    /* border: 1px solid rebeccapurple; */
    
    margin-left: 25px;
}
.main .mainbody .reg .input .one{
    width: 250px;
    height: 35px;
    background-image: url(../images/login-sp.png);
    background-position: 11px 8px;
    background-repeat: no-repeat;
    color: #c8c8c8;
    text-align: center;
    
}
.main .mainbody .reg .input .two{
    height: 35px;
    width: 130px;
    margin-top: 10px;
    background-image: url(../images/login-sp.png);
    background-position: 11px -74px;
    background-repeat: no-repeat;
    color: #c8c8c8;
    text-align: center;
}
.main .mainbody .reg .input .ma{
    width: 110px;
    height: 37px;
    background-image: url(../images/yzm111-35.png);
    float: right;
    margin-top: 10px;
}
.main .mainbody .reg .input .three{
    margin-top: 20px;
}
.main .mainbody .reg .input .three p{
    font-size: 12px;
}
.main .mainbody .reg .input .three span{
    margin-left: 10px;
}
.main .mainbody .reg .input .get{
    width: 250px;
    height: 38px;
    font-size: 20px;
    text-align: center;
    background-color: #f66;
    color: #ffffff;
    margin-top: 20px;
    border: none;
    border-radius: 3%;
}
.main .mainbody .reg .input .bottom{
    width: 116px;
    margin-top: 20px;
    text-align: left;
}
/* .........main css end */
/* ......footer css end...... */
.footer{
    height: 340px;
    background-color: #e2e2e2;
    overflow: hidden;
}
.footer .top{
    width: 1000px;
    height: 140px;
    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}
.footer .top .phone,.footer .top .mid,.footer .top .qrcode{
    width: 250px;
    height: 150px;
    /* border: 1px solid skyblue;  */
    overflow: hidden;  
}
.footer .top .phone p{
    font-size: 12px;
    margin-top: 30px;
}
.footer .phone .phnumber{
    width: 100px;
}
.footer .top .phone p span{
    font-size: 14px;
    margin-left: 5px;
}
.footer .top  .mid span{
    width: 75px;
    text-align: center;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #d2d2d2;
    
}
.footer .top .mid ul{
    margin-top: 25px;
}
.footer .top .mid p{
    text-align: center;
    margin-top: 20px;
}
.footer .top .mid li{
    list-style: none;
}
.footer .top .qrcode .pinpai{
    margin-top: 30px;
    width: 90px;
}
.footer .top .qrcode .top,.footer .top .qrcode .bottom{
    width: 90px;
    height: 25px;
    background-image: url(../images/index-sp1.png);
}
.footer .top .qrcode .top{
    /* border: 1px solid skyblue; */
    background-position: 0 -216px;
    margin-top: 10px;
    float: left;
}
.footer .top .qrcode .bottom{
    /* border: 1px solid skyblue; */
    background-position: 0 -288px;
    margin-top: 10px;
    float: left;
}
.footer .top .qrcode .ma{
    width: 130px;
    height: 130px;
    float: right;
    margin-top: -80px;
}
.footer .bottom{
    width: 1000px;
   
    margin: auto;
    overflow: hidden;
}
.footer .bottom .littlelogo{
    margin-top: 60px;
}
.footer .bottom ul{
    width: 620px;
    height: 30px;
    margin: auto;
}
.footer .bottom li{
    list-style: none;
    float: left;
    margin-right: 65px;
}
.footer .bottom .l1{
    width: 90px;
    height: 30px;
    background-image: url(../images/index-sp1.png);
    background-position: 0 -331px ;
    /* border: 1px solid skyblue; */
}
.footer .bottom .l2{
    width: 90px;
    height: 30px;
    background-image: url(../images/index-sp1.png);
    background-position: 0 -375px;
    /* border: 1px solid skyblue; */
}
.footer .bottom .l3{
    width: 90px;
    height: 30px;
    background-image: url(../images/index-sp1.png);
    background-position: 0 -421px;
    /* border: 1px solid skyblue; */
}
.footer .bottom .l4{
    width: 90px;
    height: 30px;
    background-image: url(../images/index-sp1.png);
    background-position:  0 -460px;
    /* border: 1px solid skyblue; */
}
.footer .bottom p{
    width: 1000px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
/* ......footer css end...... */

